body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 10px;
}

#about img {
    width: 150px;
    border-radius: 50%;
}

ul {
    list-style-type: square;
}

.project {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

.project img {
    width: 200px;
}

a {
    color: blue;
    font-weight: bold;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
